:root {
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #FFF;

    --color-black-first: #000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-second);
    border-bottom: 10px solid var(--color-black-first);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: var(--color-third);
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: var(--color-first);
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px var(--color-black-first);
    margin: 0px;
    transition: transform 100ms linear, background-color 200ms ease-in-out;
    }

#button:hover {
    background-color: #F9B4BE;
    transform: scale(1.05);
}

div {
    display: inline-block;
    background-color: var(--color-black-second);
    text-align: center;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 42px;
    padding-bottom: 44px;
    filter: drop-shadow(10px 10px 0px --color-black-first);
}

h1 {
    color: var(--color-first);
    font-family: "Press Start 2P";
    font-size: 40px;
    line-height: 40px;
    text-shadow: 4px 4px 0px var(--color-black-first);
}

h2 {
    color: var(--color-third);
    font-family: "Press Start 2P";
    font-size: 30px;
    line-height: 30px;
    padding-top: 28px;
    text-shadow: 4px 4px 0px var(--color-black-first);
}