h2 {
    color: var(--color-third);
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    padding-top: 28px;
    text-shadow: 4px 4px 0px var(--color-black-first);
}